* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3 {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.header {
    color: white;
    background-color: #908f8f;
    padding: 20px;
    text-align: center;
    font-weight: bold;
}

.main-content {
    display: flex;
    justify-content: center;
    background-color: white;
}

.content {
    max-width: 800px;
    margin: 20px;
    padding: 20px;
    flex: 2;
    background-color: #bbb;
    border-radius: 5px;
    text-indent: 20px;
}

.article-content {
    margin: 0 auto 40px;
}

.box-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    padding: 20px;
    background-color: #EBEAE9;
    max-width: 755px;
    height: 336px;
}

.box-content large {
    font-size: 38px;
    font-weight: bold;
    color: #908f8f;
}

.content p {
    text-align: justify;
}

.sidebar {
    max-width: 500px;
    flex: 1;
}

.small-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    padding: 20px;
    height: 100px;
    background-color: #EBEAE9;
    border-radius: 5px;
    gap: 20px;
}

.smaller-box {
    width: 100%;
    padding: 10px;
    background: #908f8f;
    border-radius: 5px;
    color: white;
}

.big-box {
    display: flex;
    align-items: start;
    flex-direction: column;
    height: 638px;
    margin: 20px auto;
    padding: 20px;
    color: white;
    background-color: black;
    border-radius: 5px;
}

.footer {
    color: white;
    text-transform: uppercase;
    background-color: #908f8f;
    padding: 20px;
    text-align: center;
    font-weight: bold;
}


@media screen and (max-width: 721px) {
    .main-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px;
    }

    .content, .sidebar {
        width: 100%;
        margin: 0;
    }

    .sidebar {
        padding: 0;
    }

    .content p, .sidebar p {
        font-size: 12px;
        height: 100%;
    }

    .smaller-box h3 {
        font-size: 13px;
    }

    .big-box {
        height: 100%;
        display: flex;
        align-items: start;
    }
}